{% block footer %}
    <!-- footer -->
    <footer>
        <!-- go to top -->
        <div class="container gototop">
            <a href="#top">Go To Top</a><i class="fa fa-chevron-up"></i>
        </div>

        <!-- footer widgets -->
        <div class="container">
            <div class="row">
                <div class="footer-col col-lg-6 col-sm-6 col-md-3">
                    <h3>A propos</h3>
                    <p> <span class="unique">MUSICIANTOOLBOX</span> est un site d’entre-aide entre musiciens amateurs, musiciens professionnels et organisateurs/professionnels du monde musical
                        pour aider à l’évolution de l'artiste à lui donner toutes les cartes en main pour réussir
                    </p>
                    <p> Ce site est comme une <span class="unique">boîte à outils</span> pour les musiciens, donnant la possibilité de retrouver toutes les informations disponibles, dans son secteur géographique,
                        nécessaires à son activité musicale pour se développer.   </p>
                </div>
                <div class="footer-col col-sm-6 col-md-3">
                    <h3><i class="fa fa-link"></i> Quick Links</h3>
                    <div class="row">
                        <div class="col-xs-6 links-col">
                            <ul class="links">
                                <li><a href="#">Acceuil</a></li>
                                <li><a href="#">Salles/Bar</a></li>
                                <li><a href="#">Magasins</a></li>
                                <li><a href="#">Petites Annonces</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 links-col">
                            <ul class="links">
                                <li><a href="#">Concerts</a></li>
                                <li><a href="#">Social</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-col col-sm-6 col-md-3">
                    <h3><i class="fa fa-envelope"></i> Newsletter</h3>
                    <p>Arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh elit.</p>
                    <form action="#" name="subscribe-form" class="subscribe-form">
                        <input type="email" value="" name="email" class="email" />
                        <input type="submit" value="Submit" name="submit" class="submit" />
                    </form>
                </div>
            </div>
        </div> <!-- end footer widgets -->

        <div class="container bottom-footer">
            <div class="row">
                <!-- copyright notice -->
                <div class="col-lg-7 col-md-5 col-sm-6 copyright">
                    &copy; 2017 MusicianToolBox. All rights reserved.
                </div>


                <!-- social links -->
                <div class="col-md-5 col-sm-6">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer> <!-- end footer -->

{% endblock %}