{% block topbar %}
<div id="top-bar">
    <div class="container">
        <ul id="top-links">
            <li class="login"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i><span>Login</span></a></li>
            <li class="register"><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user"></i><span>Register</span></a></li>
            <li class="search">
                <input type="text" value="" name="search" id="top-search" />
                <a href="#"></a>
            </li>
        </ul><!-- end top-links -->
    </div><!-- end container -->
</div> <!-- end top-bar -->
{% endblock %}