{% block topbar %}
<div id="top-bar">
    <div class="container">
        <ul id="top-links">
            {% if app.user is null %}
            <li class="login"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i><span>Login</span></a></li>
            <li class="register"><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user"></i><span>Register</span></a></li>
            {% endif %}
            {% if app.user is not null %}
                <li class="userName_barre"><a href="#"><i class="fa fa-user-circle"></i> <span class="userName">{{ app.user.username }}</span></a></li>
                <li class="logout"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
            {% endif %}
            <li class="search">
                <input type="text" value="" name="search" id="top-search" />
                <a href="#"></a>
            </li>
        </ul><!-- end top-links -->
    </div><!-- end container -->
</div> <!-- end top-bar -->
{% endblock %}