{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends "::base.html.twig" %}

{% block content %}

    <div class="form_registration text-center">
        <div class="form_registration_cont">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}